<nav class="bg-orange-rental flex items-center  ">
  <LinkTo @route="index" class="menu-index pt- 2 pb-2">
    <h1 class=" ml-2 text-white text-rental-custom italic ">SuperRentals</h1>
  </LinkTo>
  <div class="pt-0 pr-21 items-stretch ... ml-8 ">
    <LinkTo class="ml-10 text-white" @route="about">
      About
    </LinkTo>
    <LinkTo class=" ml-4 text-white" @route="contact">
      Contact
    </LinkTo>
    <LinkTo class=" ml-4 text-white" @route="dog">
      Dog API </LinkTo>
  </div>
</nav>