<div class="rentals">

  <div class="mt-4 mb-8 flex items-center justify-center">
    <span class="font-light text-4xl">Where would you like to stay?</span>
  </div>
  <div class=" mb-4 pr-64 pl-64 flex items-center justify-center">
    <Input class="block w-full p-4 text-gray-900 border border-gray-300 border-black-500" @value={{this.query}} />
  </div>

  <ul>
    <Search::filter @rentals={{@rentals}} @query={{this.query}} as |results|>

      {{#each results as |rental|}}

      <li>
        <Rental::RentalIndex @rental={{rental}} />
      </li>

      {{/each}}

    </Search::filter>
  </ul>
</div>