<div>
  <button type="button" class="hover:bg-blue-200 rounded-xl {{if @isSmall " rounded-xl mb-2 object-cover h-38 w-50 ..."
    }}" {{on "click" this.toggleSize}}>
    <img class=" rounded-xl " ...attributes>
    <small class="text-blue-500">View {{if @isSmall "larger" "smaller"}}

    </small>
  </button>
</div>